# .tool-versions
golang 1.25.4 # datasource=github-releases depName=golang/go
golangci-lint 2.6 # datasource=github-releases depName=golangci/golangci-lint
goreleaser 2.12 # datasource=github-releases depName=goreleaser/goreleaser
pre-commit 4.3.0 # datasource=github-releases depName=pre-commit/pre-commit
