# .tool-versions
golang 1.25.7 # datasource=github-releases depName=golang/go
golangci-lint 2.10 # datasource=github-releases depName=golangci/golangci-lint
goreleaser 2.13 # datasource=github-releases depName=goreleaser/goreleaser
pre-commit 4.5.1 # datasource=github-releases depName=pre-commit/pre-commit
